.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 900px;
    height: 500px;
    background-color: #fff;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

button {
    width: 50px;
    height: 50px;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
}

.player-settings__back,
.player-settings__play,
.player-settings__next {
    background-repeat: no-repeat;
    background-position: center;
}

.player-settings__back {
    background-image: url(/image/icons8-back.png);

}

.player-settings__play {
    background-image: url(/image/icons8-play.png);

}

.player-settings__next {
    background-image: url(/image/icons8-next.png);

}


.player {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 400px;
    background-color: #97979748;
}

.player-song__title {
    margin: 20px;
    text-align: center;
    font-size: 24px;
}

.player-progressBar,
.player-volumeBar {
    position: relative;
    height: 30px;
    background-color: #56693252;
    cursor: pointer;
}

.progress__start,
.progress__end {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}

.progress__start {
    left: 3%;
}

.progress__end {
    right: 3%;
}


.progress,
.volume {
    height: 100%;
    background-color: #56693252;
    width: 0;
    cursor: pointer;
}

.volume {
    width: 100%;
}

.player-settings {
    display: flex;
    justify-content: space-around;
}

.player-volumeBar {
    margin: 0 auto;
    width: 70%;
    height: 10px;
}

.player-progressBar:hover,
.player-volumeBar:hover {
    /* height: 20px; */
    border: 1px solid #f5000052;
}