:root {
    --BackgroundDark: #F0ECF4;
    --Primary: #ffa31a;
    --halfPrimary: #fad6a0;
    --Secondary: #808080;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', cursive;
}

html {
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    background-color: var(--BackgroundDark);
    transition: 0.2s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}